.updateUserContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateUserContainer > p{
    font-size:2vmax;
    margin-top:4vmax;
    margin-bottom: 2vmax;
    color: rgb(78, 73, 73);
}

.updateUserForm{
    display: flex;
    flex-direction: column;
    width: 30vmax;
    overflow: hidden;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 11px gray;

}


.updateName, .updateEmail, .updateRole{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vmax;
}


.updateName > input , .updateEmail > input {
    border:2px solid rgba(128, 128, 128, 0.76);
    padding:1vmax 4.3vmax;
    box-sizing: border-box;
    border-radius:5px;
    outline-color: tomato;
    font:400 1.2vmax "Roboto";
}

.updateRole > select{
    border:2px solid rgba(128, 128, 128, 0.76);
    padding:0.8vmax 0vmax 0.8vmax 3.9vmax;
    box-sizing: border-box;
    border-radius:5px;
    outline-color: tomato;
    font:600 1.2vmax "Roboto";
    color:rgb(99, 96, 96);
    box-sizing: border-box;
    width:22.5vmax;
}

.updateName > svg , .updateEmail > svg , .updateRole > svg
{
    position:relative;
    font-size: 1.7vmax;
    transform:translate(-9vmax,2.7vmax);
    color:rgb(88, 85, 85);
}

.updateUserForm > button{
    width:95%;
    border:none;
    background-color: orangered;
    margin: 2.5vmax auto;
    color:white;
    border-radius: 5px;;
    padding: 0.8vmax 10.5vmax;
    letter-spacing: 1px;
    font: 400 1.2vmax "Roboto";
    text-align:center;
    box-shadow: 1px 1px 7px gray;
    transition:all 300ms;
}

.updateUserForm > button:hover{
    background-color: rgba(255, 68, 0, 0.795);
}









