.ForgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    display:flex;
    margin-top: 4vmax;
    justify-content: center;
}

.ForgotPasswordBox{
    width: 28vmax;
    height: 60vh;
    margin-top: 4vmax;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 11px gray;
}

.ForgotPasswordBox > h1{
    font: 400 1.7vmax "Roboto";
    color: gray;
    padding-bottom: 1vmax;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    width:55%;
    margin: 0.6vmax auto;
    text-align: center;
    box-shadow: 0px 6px 18px -6px gray;
}

.ForgotPasswordForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmailBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vmax;
}


.EmailBox > input
{
    border:2px solid rgba(128, 128, 128, 0.76);
    padding:1vmax 4.3vmax;
    box-sizing: border-box;
    border-radius:5px;
    outline-color: tomato;
    font:400 1.2vmax "Roboto";
}

.EmailBox > svg
{
    position:relative;
    font-size: 1.7vmax;
    transform:translate(-9vmax,2.7vmax);
    color:rgb(88, 85, 85);
}

.EmailSendBtn{
    border:none;
    background-color: orangered;
    margin-top: 8vmax;
    color:white;
    border-radius: 5px;
    padding: 0.8vmax 10.5vmax;
    font: 400 1vmax "Roboto";
    text-align:center;
    box-shadow: 1px 1px 7px gray;
}

.EmailSendBtn:hover{
    background-color: rgb(223, 16, 16);
    transition: all 0.5s;
    box-shadow: 0px 0px 10px 5px rgb(238, 146, 112);
}