.cover{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderLine{
    /* background:conic-gradient(white,black); */
    height: 80px;
    width:80px;
    background-color: transparent;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-radius:50%;
    animation:load reverse 1.3s infinite linear;
}
@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
