
.MuiStepConnector-line{
    border-color: gray !important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-completed{
    color:tomato !important;
}

.css-1vyamtt-MuiStepLabel-labelContainer{
    color:black !important;
}





